<div class="postlist">

<div class="row">
{% for post in postslist | reverse  %}
<div class="col-sm-2">
<a href="/masks/
              {%- if post.data.brand -%}
                {{post.data.brand|slug}}/
              {%- endif -%}
              {%- if post.data.set -%}
              {{post.data.set|slug}}/
              {%- endif -%}
              {%- if post.data.name -%}
              {{post.data.name|slug}}
              {%- endif -%}
              " class="postlist-link">
        <img src="/img/masks/{{post.data.brand|slug}}/{{post.data.set|slug}}/{{post.data.name|slug}}.jpg" alt="{# {{post.data.brand}} {{post.data.set}} {{post.data.name}} #}" width="300">
</a>    
    <div>
      <small>
        <a href="/masks/{{post.data.brand|slug}}">{{post.data.brand}}</a>
      </small>
    </div>
    
     <div>
          <a href="/masks/
              {%- if post.data.brand -%}
                {{post.data.brand|slug}}/
              {%- endif -%}
              {%- if post.data.set -%}
              {{post.data.set|slug}}/
              {%- endif -%}
              {%- if post.data.name -%}
              {{post.data.name|slug}}
              {%- endif -%}
              " class="postlist-link">
                  {{post.data.set}}  {{post.data.name}}                 
            </a>
    </div>
    
  </div>

{% endfor %}
</div>
</div>