---
layout: layouts/base.njk
eleventyNavigation:
  key: Tony Moly
  parent: Masks
permalink: "/masks/tony-moly/"
---

{% set postslist = collections[ 'Tony-Moly-set' ] %}
{% include "postslist.njk" %}