---
layout: layouts/base.njk
permalink: /masks/{% if brand %}{{brand|slug|safe}}/{% endif%}{%if set%}{{set|slug|safe}}/{%endif%}{%if name%}{{name|slug|safe}}/{%endif%}index.html
---
<div class="row">
<div class="col-sm-4">
        <img src="/img/masks/{{brand|slug}}/{{set|slug}}/{{name|slug}}.jpg" alt="{# {{brand}} {{set}} {{name}} #}">
</div>
<div class="col-sm-8">
<h4>
{{brand}} 
</h4>
<h2>{{set}} {{name}}</h2>

{#
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
#}

{{ content | safe }}

</div>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
